<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new post</title>
    <link rel="stylesheet" href="/style2.css">
</head>
<body>
      <div class="logo">
    <h1>Quora Posts</h1></div>
    <div class="main">
        <div class="form">
    <form method="post" action="/posts">
        <!-- <input class="id" placeholder="id" name="id" type="text"><br><br> -->
        <input class="user" placeholder="username" name="username" type="text"><br><br>
        <textarea class="content" placeholder="write you post" name="content"></textarea><br><br>
        <div id="btn">
        <button class="btn">Submit!</button></div>
    </form>
    </div>
    </div>
</body>
</html>